body {
	background-color: #F2F2F2;
	display: grid;
	grid-template-areas:
	'header'
	'nav'
	'content'
	'footer';
	grid-template-columns: 1fr;
	margin: 0;
}	
header {
	grid-area: header;
	background: #401417;
	padding: 1rem;
	text-align: center;
}
nav {
	grid-area: nav;
	background-color: #F2F2F2;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	border-radius: 10px;
	font-family: sans-serif;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}
nav ul li {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	display: table;
}
nav ul li a {
	text-decoration: none;
	display: table-cell;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 3rem;
	padding-right: 3rem;
	border-style: solid;
	border-width: 2px;
	border-color: #73203E;
	border-radius: 12px;
	color: #333;
	background-color: #F2F2F2;
	font-weight: 500;
}
nav ul li a:hover {
	color: #F2F2F2;
	background-color: #73203E;
}
main section {
	display: grid;
	justify-content: center;
}
main ul {
	list-style: none;
	align-content: center;
	text-align: center;
}
footer {
	font-family: serif;
	background-color: #401417;
	display: flex;
	justify-content: center;
}
footer h4 {
	text-align: center;
	color: white;
}
.cls-1 {
	fill: #a73353;
}
.cls-2 {
	fill: #fff;
}
.foot-nav {		
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.foot-nav ul li {
	align-content: center
}
.sites {
	padding: 0.5rem;
	width: auto;
	height: 3rem;
}
.contactsites {
	padding: 0.5rem;
	width: auto;
	height: 6rem;
}
.contactsections {
	display: grid;
	grid-template-columns: 1fr 1fr;
}